.item {
  background: #f7f7ff;
  padding: 5px 0;
  text-align: center;
  width: calc(33.3% - 5px);

  &:hover {
    background: #f5f5f7;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-top: 1px solid #eee;
}
